body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
}

.App {
  padding: 2rem;
}

main {
  padding: 2rem 0;
}

.WalletAddress-caption {
  margin-bottom: 1rem;
}

.WalletAddress-controls {
  display: flex;
}

.WalletAddress-input {
  width: 20rem;
}

.WalletAddress-button {
  width: 4rem;
  margin-left: 1rem;
}

.Balance + .Balance {
  margin-top: 2rem;
}

.Balance-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.Balance-value {
  font-weight: 600;
}
